@charset "UTF-8";

.contenedorPrincipal{
    display: flex;
    align-items: center;
}

/*input{
    size :55px;
    border-radius:40px;
}*/

.logo{
    width: 250px;
    margin-top: 50px;

}

h1,label{
    color:#fff;
}

h1{
    font-size: 40px;
    line-height: 40px;
    text-transform:capitalize;
    letter-spacing:-2px;
    /*Margen superior para espaciar con las demas cosas
    margin-top: 150px;
    margin-left: 200px;*/
}

.contenedorUsuario{
    font-size:30px;
    line-height: 25px;
    text-transform:capitalize;
    margin-top: 50px;
    margin-left: 150px;
    /*
    border: 1px dotted  #999;
    border-radius: 0;

    -webkit-appearance: none;
    */
}

.inputUsario{
    margin-left:0px;
}

.contenedorContraseña{
    font-size:30px;
    line-height: 25px;
    text-transform:capitalize;
    margin: 0px;
    margin-left: 150px;
}

.contenedorHashtag{
    margin-left: 165px;
}

.button{
    margin:50px;
    margin-left: 155px;
    border-radius: 40px;
}

html, body{
    background-image: url('../Img/mainbg.png');
    background-size: cover;
    background-repeat: inherit;
}

.botac{
    position: absolute;
    right:    0;
    bottom:   0;
}

#textoTitulo{
    margin: auto;
    text-align: center;
    font-size: xxx-large;
    font-weight: bold;
    color: white;
}

#sevive{
    letter-spacing: 7px; 
    margin:10px; 
    text-align:right; 
    color:#ffffff;
}